@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Student @ViewData["Student"].</p>

<address>
    <strong>More information: </strong> <a href="https://steamcommunity.com/profiles/76561199002414295">steamcommunity.com/profiles/76561199002414295</a>
</address>